- edit ||= false
- collapsed = session[:mailing_mail].nil?
= subtitle :mailing_mail, collapsed, t(:mail_info)
.section
  %small#mailing_mail_intro{ hidden_if(!collapsed) }
    = t(:intro_mailing) unless edit
  #mailing_mail{ hidden_if(collapsed) }
    %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
      %tr
        %td{ :valign => :top, :colspan => 3 }
          .label #{t :subject}:
          = f.text_field :subject, :style => "width:480px"
      %tr
        %td{ :valign => :top, :colspan => 3 }
          .label #{t :body}:
          = f.text_area :body, :style =>"width:480px", :rows => 12 
      %tr
        %td{ :valign => :top, :colspan => 3 }
          .label.top.req #{t :general_placeholders}:
          [[name]], [[email]], [[phone]], [[fax]]
      %tr
        %td{ :valign => :top, :colspan => 3 }
          .label.top.req #{t :contact_leads_placeholders}:
          [[first_name]], [[last_name]], [[title]], [[department]], [[mobile]]. [[blog]]   
      %tr
        %td{ :valign => :top, :colspan => 3 }
          .label.top.req #{t :accounts_placeholders}:
          [[website]]