%p
  = link_to_close options_mails_mailings_path
  -#, :related => @mailing.id
  = hidden_field_tag "mailing[user_id]", @current_user.id

  - current_sort_by = t("option_" + MailingMail.sort_by_map.invert[@sort_by_mails])
  - current_naming  = t("option_#{@naming}")

  -# sort_by: Sort {{models}} by {{field}}.
  = t(:sort_by, :models => t(:mails), :field => link_to(current_sort_by, "#", :id => :sort_by))
  
%p

%script
  = render :partial => "mailings/sort_by_mails"