.panel#summary
  .caption #{t :mailing_summary}
  %li
    %dt#mailing_status= t(@mailing.status)
    %tt #{t :status}:
  - unless @mailing.attc_file_name.blank?
    %li
      %dt#mailing_attachment= link_to truncate(@mailing.attc_file_name, 20, "..."), attachment_mailing_path(@mailing)
      %tt #{t :attachment}:    

  - form_for(@mailing, :url => upload_attachment_mailing_path(@mailing, :method => :post), :html => { :multipart => true }) do |f|
    = f.file_field :attc, :style => "width:190px"
    - unless @mailing.attc_file_name.blank?
      = f.submit t :overwrite_attachment
    - else
      = f.submit t :upload_attachment
    
  - if @mailing.background_info && !@mailing.background_info.empty?
    %br
    %b #{t :background_info}
    %div= auto_link(simple_format h(@mailing.background_info)) 

