.panel#summary
  .caption #{t :mailing_summary}
  %li
    %dt#mailing_status= t(@mailing.status)
    %tt #{t :status}:
  - unless @mailing.attc_file_name.blank?
    %li
      %dt#mailing_attachment= link_to truncate(@mailing.attc_file_name, 20, "..."), attachment_mailing_path(@mailing)
      %tt #{t :attachment}:

  - unless @mailing.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format h(@mailing.background_info))

