= styles_for :mailing

.title_tools
  = link_to_inline(:create_mailing, new_mailing_path, :text => t(:create_mailing)) << " | "
  = link_to_inline(:options, options_mailings_path, :text=> t(:options))

.title
  %span#create_mailing_title= t(:mailing_title, t(@current_user.pref[:mailings_filter] || Mailing.filter))
  = image_tag("loading.gif", :size => "16x16", :id => "loading", :style => "display: none;")
.remote#options{ hidden }
.remote#create_mailing{ hidden }

.list#mailings
  - unless @mailings.blank?
    = render :partial => "mailing", :collection => @mailings  
  - else
    = render :partial => "common/empty"
#paginate= render :partial => "common/paginate"