#confirm{ hidden }
.title_tools#menu
  = link_to_inline(:edit_mailing, edit_mailing_path(@mailing), :text => t(:edit)) + " | "
  = link_to_function(t(:delete) + '?', confirm_delete(@mailing))
.title#edit_mailing_title= h(@mailing.name)

%div#edit_mailing{ hidden }

= render :partial => "comments/new", :locals => { :commentable => @mailing }
= render :partial => "comments/comment", :collection => @mailing.comments

-#-----------------------------------------------------------------------------
%br
= inline :create_mailing, new_mailing_path, { :class => "subtitle_tools", :related => dom_id(@mailing), :text=> t(:create_mailing_mail) }
.subtitle#create_mailing_mail_title #{t :mailing_mails}
.remote#create_mailing_mail{ hidden }
.log#mailing_mails
  = render :partial => "mailing_mails/mail", :collection => @mailing_mails