.remote
  - remote_form_for(@mailing_mail, :html => one_submit_only(:mailing_mail)) do |f|
    = link_to_close edit_mailing_mail_path(@mailing_mail)
    = f.hidden_field :user_id
    = f.error_messages

    #mailing_mail
      %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
        %tr
          %td{ :valign => :top, :colspan => 3 }
            .label #{t :subject}:
            = f.text_field :subject, :style => "width:240px"
        %tr
          %td{ :valign => :top, :colspan => 3 }
            .label #{t :body}:
            = f.text_area :body, :style =>"width:480px", :rows => 8
        %tr
          %td{ :valign => :top, :colspan => 3 }
            .label.top.req #{t :general_placeholders}:
            [[name]], [[email]], [[phone]], [[fax]]
        %tr
          %td{ :valign => :top, :colspan => 3 }
            .label.top.req #{t :contact_leads_placeholders}:
            [[first_name]], [[last_name]], [[title]], [[department]], [[mobile]]. [[blog]]   
        %tr
          %td{ :valign => :top, :colspan => 3 }
            .label.top.req #{t :accounts_placeholders}:
            [[website]]
    
    .buttonbar
      = f.submit t(:save_mailing_mail)
      #{t :or}
      = link_to_cancel edit_mailing_mail_path(@mailing_mail)
