- @mailing_mail.needs_update == true ? remote_class = "remote_needs_data" : remote_class = "remote"
%div{ :class => remote_class }
        
  - unless google_account_is_defined
    = link_to_close edit_mailing_mail_path(@mailing_mail)

    #mailing_mail    
    .label.req= t(:profile_needs_update, :link => link_to(t(:update), profile_path))
  - else
    - remote_form_for(@mailing_mail, :html => one_submit_only_and_next_mail(:mailing_mail)) do |f|
      = link_to_close edit_mailing_mail_path(@mailing_mail)
      = f.hidden_field :user_id
      = hidden_field_tag :next_mail
      = f.error_messages
      #mailing_mail
        %table{ :width => 500, :cellpadding => 0, :cellspacing => 0 }
          %tr
            %td{ :valign => :top, :colspan => 3 }
              %br
              - if @mailing_mail.needs_update == true
                = t(:mail_needs_data, @mailing_mail.needs_update_help)
                %br
                = t(:mail_status_ko_info)
              - if @mailing_mail.mailable.class.to_s == "Account"
                .label= t(:mail_participants_accounts, :from => @current_user.pref[:google_account])
                #recipients= render :partial => "account_recipients"
              - else
                .label= t(:mail_participants, :to => @mailing_mail.mailable.email, :from => @current_user.pref[:google_account])
          %tr
            %td{ :valign => :top, :colspan => 3 }
              .label.req #{t :subject}:
              = f.text_field :subject, :style => "width:480px"
          %tr
            %td{ :valign => :top, :colspan => 3 }
              .label.req #{t :body}:
              = f.text_area :body, :style =>"width:480px", :rows => 10                        
          %tr
            %td{ :valign => :top, :colspan => 3 }
              - unless @mailing.attc_file_name.blank?       
                .label #{t(:with_attachment_show, link_to(@mailing.attc_file_name, attachment_mailing_path(@mailing)))}
              - else  
                .label #{t :without_attachment}     
              
      .buttonbar
        = f.submit t(:send)
        #{t :or}
        = link_to_cancel edit_mailing_mail_path(@mailing_mail)
