%li[mail]{ highlightable(dom_id(mail, :tools)) }
  
  - if mail.status == "new"
    .strip{:style => "background:bisque;"} #{t(mail.status)} <br /> #{t(:mailing_from, t(mail.mailable_type))}
  - else
    .strip{:style => "background:palegreen;"} #{t(mail.status)} <br /> #{t(:mailing_from, t(mail.mailable_type))}
  
  .tools{ invisible, :id => dom_id(mail, :tools) }
    = link_to_mail_edit(mail) << " | "
    = link_to_mail_confirm(mail)
        
  .indent
    - if mail.needs_update == true
      .strip{:style => "background:lightcoral;"} #{t(:needs_update)}: #{mail.needs_update_help}
    = get_asset_link(mail.mailable)
    %tt
      = truncate(mail.subject, :length => 82)
    %dt{ :style => "padding: 2px 0px 0px 0px" }
      = t(:added_ago, time_ago_in_words(mail.created_at))
