%li[mail]{ highlightable(dom_id(mail, :tools)) }
  
  .strip.active #{t(mail.status)} <br /> #{t(mail.mailable_type)}
  -#.strip{:class => completed.category}= t(completed.category)
  
  .tools{ invisible, :id => dom_id(mail, :tools) }
    = "edit" + " | "
    = "delete!" + "&nbsp;"
    -#= link_to_edit(mail) + " | "
    -#= link_to_delete(mail) + "&nbsp;"
        
  .indent
    -#= link_to(h(contact.full_name(@current_user.preference[:contacts_naming])), contact)
    = "¡Needs Update!" if mail.needs_update == true
    = mail.subject
    %tt
      - if mail.mailable.email.empty?
        = "¡Warning, no email available, please update the #{mail.mailable_type}!"
      - else
        = mail.mailable.email
    %dt{ :style => "padding: 2px 0px 0px 0px" }
      = t(:added_ago, time_ago_in_words(mail.created_at))
