- type = mail.mailable_type.to_s.downcase
- status_text = "<font color='red'>#{t(:mail_status)}</font>: #{t(:mail_status_ko)}: #{mail.needs_update_help}. #{t(:mail_status_ko_info)}" if mail.needs_update == true
- status_text = "<font color='green'>#{t(:mail_status)}</font>: #{t(:mail_status_ok)}" if mail.needs_update == false
%li[mail]{ mails_highlightable(dom_id(mail, :tools), {}, mail.status) }
  
  - if mail.status == "new"
    .strip{:style => "background:bisque;"} #{t(mail.status)}
  - else
    .strip{:style => "background:palegreen;"} #{t(mail.status)}
  
  .tools{ invisible, :id => dom_id(mail, :tools) }
    - unless mail.status == "sent"	
      = link_to_mail_edit(mail) << " | "
      = link_to_mail_confirm(mail)
        
  .indent
    - if mail.status == "sent"
      = t(:mailing_sent, :models => t(type), :link => get_asset_link_name(mail.mailable), :to => auto_link(mail.recipients),:time_ago => time_ago_in_words(mail.sent_at), :user => (mail.user.id == @current_user.id ? t(:me) : h(mail.user.full_name)))
    - else
      = t(:mailing_from, :models => t(type), :link => get_asset_link(mail.mailable))
    %tt
      - if mail.status == "new"
        = " - " << t(:added_by, :time_ago => time_ago_in_words(mail.created_at), :user => (mail.user.id == @current_user.id ? t(:me) : h(mail.user.full_name)))
    %dt{ :style => "padding: 2px 0px 0px 0px" }
    - if mail.status == "new"
      = status_text