%li[mail]{ highlightable(dom_id(mail, :tools)) }
  
  .strip.active #{t(mail.status)} <br /> #{t(mail.mailable_type)}
  -#.strip{:class => completed.category}= t(completed.category)
  
  .tools{ invisible, :id => dom_id(mail, :tools) }
    = link_to_mail_edit(mail) << " | "
    = link_to_mail_confirm(mail)
        
  .indent
    -#= link_to(h(contact.full_name(@current_user.preference[:contacts_naming])), contact)
    = "¡Needs Update!" if mail.needs_update == true
    = get_asset_link(mail.mailable)
    %tt
      = truncate(mail.subject, :length => 82)
    %dt{ :style => "padding: 2px 0px 0px 0px" }
      = t(:added_ago, time_ago_in_words(mail.created_at))
